* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f8fc;

}

    
.divSearch{
    padding: auto;
    margin: 1.7%;
}

input{
    padding: 1px;
    outline: none;
}

.content {
 padding: 1rem;
 background-color: white;
 height: 100vh;

}






@media screen and (min-width: 992px) {
   .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
   } }
